{{ define "head" }}

<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta name='author' content='Sunny Béta'>
	<meta name='description' content='Developer & Freelancer Portfolio'>
	<meta name='keywords'
		content='Software, Aritifiial Intelligence, Gen, AI, Developer, Mahcine Learning, Deep Learning, BackEnd, FrontEnd'>
	<title>{{ .Title }}</title>
	<link rel="icon" type="img/png" href="./favicon.ico">
	<link rel="stylesheet" href="./style.css">
</head>
{{ end }}
