{{ define "about" }}
<!doctype html>
<html lang="en">
{{ template "head" . }}

<body>
	{{ template "links" . }}
	{{ template "header" . }}
	<main id='about'>
		<h1>About Me</h1>
		<p>
			I have been engaged in professional Web Development for several years. I create Full-Stack websites with a
			minimalist look and speed. I also focus on website accessibility, website optimization and SEO.

			I like minimalism. I stand by the fact that the website should not be full of ads and trackers and
			completely useless JavaScript. On the other hand, I understand that sometimes a complex website hard to do
			without a lot of JavaScript. I also use React sometimes.

			But I stand by the fact that it is possible to make a good website even without JavaScript. For example this
			one. This site is completely JavaScript-free. (except for Cloudflare email protection, so you won’t see my
			email without JS)
		</p>
		<section>
			<h1>Experience</h1>
		</section>
		<section>
			<h1>Story</h1>
			<h2>...</h2>
			<h2>...</h2>
			<h2>...</h2>
		</section>
	</main>
	{{ template "footer" . }}
</body>

</html>
{{ end }}
