.about-container{
	width: 100%;
	display: flex;
	color: white;
	background: #293043;
	justify-content: center;
	align-items: center;
	height: 100vh;
	top: 60px;
}

.about-container p{
	font-size: 28px;
	text-align: center;
	margin: auto 15px;
	line-height: 80px;
}
